@model Hall
<form asp-action="SaveEditHall" asp-controller="Hall" asp-route-id="@Model.Id" asp-route-TotalTable="@Model.TotalTables" method="post">
    <div>
        <input asp-for="Id" type="hidden" value="@Model.Id"/>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="TotalTables"></label>
        <input asp-for="TotalTables" class="form-control" value="@Model.TotalTables" />
        <span asp-validation-for="TotalTables" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AvailableTables"></label>
        <input asp-for="AvailableTables" class="form-control" value="@Model.AvailableTables" />
        <span asp-validation-for="AvailableTables" class="text-danger"></span>
    </div>
    <input type="submit" value="Edit" class="btn btn-success" />
</form>