@{
    Layout="_Layout2";
}
@model List<Hall>
<table class="table">
    <tr>
        <th>Hall Name</th>
        <th>Total Tables</th>
        <th>Available Tables</th>
        <th>Actions</th>
    </tr>

@foreach(var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.TotalTables</td>
        <td>@item.AvailableTables</td>
        <td>
            <a asp-action="Edit" asp-controller="Hall" asp-route-id="@item.Id" style="background-color : aquamarine" class="btn btn-alert-success">Edit</a> |
            <a asp-action="Delete" asp-controller="Hall" asp-route-id="@item.Id" style="background-color : red" class="btn btn-warning">Delete</a>
        </td>
    </tr>
}
</table>
<a asp-action="Addhall" asp-controller="Hall" style="background-color :aquamarine"class="btn btn-alert-success">Add Hall</a>
