@model List<Staff>
<style>
    #openModal {
        margin-top: 20px;
        background-color: aquamarine;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    #openModal:hover {
        background-color: #4ec9b0;
    }
</style>
<a asp-action="Addstaff" asp-controller="staff" id="openModal" class="btn btn-alert-success">Add Staff</a>
<table class="table">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>NID</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Role</th>
        <th>Manager</th>
        <th>Hall</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="I:\Projects\Restaurant\Restaurant\wwwroot\@item.ImagePath" style="width: 50px; height: 50px;" />
            </td>
            <td>@item.Name</td>
            <td>@item.NID</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.Age</td>
            <td>@item.Salary</td>
            <td>@item.Type</td>
            @if(item.ManagerId==null)
            {
                <td style="color:red">No Manager</td>
            }
            else
            {
                <td>@item.Manager.Name</td>            
            }
            @if(item.HallId==null)
            {
                <td style="color:red">No Hall</td>
            }
            else
            {
                <td>@item.Hall.Name</td>            
            }
            <td>
                <a asp-action="Edit" asp-controller="Staff" asp-route-id="@item.Id" style="background-color : aquamarine" class="btn btn-alert-success">Edit</a> |
                <a asp-action="Delete" asp-controller="Staff" asp-route-id="@item.Id" style="background-color : red" class="btn btn-warning">Delete</a>
            </td>
        </tr>
    }
</table>